


<div class="footer col-12">
  <div class="footer-home">
    <%= link_to root_path do %>
      <i class="icons fa fa-home <%= 'active' if current_page?(root_path) %>"></i>
    <% end %>
  </div>
  <div class="footer-add">
    <%= link_to new_event_path do %>
      <i class="icons fa fa-plus <%= 'active' if current_page?(new_event_path) %>"></i>
    <% end %>
  </div>
  <div class="footer-glass">
    <%= link_to events_path do %>
      <i class="fas fa-glass-cheers <%= 'active' if current_page?(events_path) %>"></i>
    <% end %>
  </div>
  <div class="dropup">
      <i class="fas fa-user dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></i>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <% if user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
        <% else %>
          <%= link_to "Log in", new_user_session_path, class: "dropdown-item" %>
        <% end %>
      </div>
</div>
