<div class="index-top">
</div>
<div class="index-header">
  <h1>Here are your upcoming events</h1>
</div>

<div class="card-container">
  <% @events.each do |event| %>
    <%= link_to event_path(event), class: "text-decoration-none" do %>
      <div class="game col-2">
        <div class="rank"></div>
        <div class="front" >
          <% if event.photo.attached? %>
            <%= cl_image_tag event.photo.key, height: 90, width: 120, crop: :fill %>
          <% else %>
            <img src="https://picsum.photos/200/150" alt="game">
          <% end %>
          <h3 class="name"><%= event.title %></h3>
          <div class="status">
            <p class="viewers"><%= event.date %> @<%=  event.time.strftime("%Hh%M") %></p>
            <div class="streamers">
              <% event.members[0..2].each do |member| %>
                <% if member.user.photo.attached? %>
                  <%= cl_image_tag member.user.photo.key %>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <%= link_to event_path(event), :method => :delete do %>
          <% if event.user == current_user  %>
            <div class="inside-image-event">
              <%= image_tag("delete.png") %>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div class="image-index">
  <%= image_tag("party-time.png") %>
</div>
