<div class="container">
 <h3>Create a new event</h3>
 <div class="event-new">
    <%= simple_form_for(@event) do |f|  %>
      <%= f.input :title %>
      <%= f.input :description %>
      <%= f.input :date %>
      <%= f.input :time %>
      <%= f.input :photo, as: :file, class: "upload-photo" %>
      <div class="container pt-5" id="create-button">
      <%= f.button :submit, class: "btn-primary" %>
      </div>
    <% end %>
 </div>
</div>
