

<div id="show-image">
  <% if @event.photo.attached? %>
    <%= cl_image_tag @event.photo.key, height: 150, width: 200, crop: :fill, class:"img-event" %>
  <% else %>
    <img class= "img-event"src="https://media.istockphoto.com/photos/multiethnic-teenage-girls-having-fun-singing-at-slumber-party-picture-id1001424368?k=20&m=1001424368&s=612x612&w=0&h=kuN08dLx6zGb_mFwsFiV8gqjEeaEA8WUpidjxMWW4Dc=" alt="">
  <% end %>
  <div id="show-icon" data-controller="members">
    <div data-action="click->members#displayMembers">
    <i class="fas fa-users"></i>
    </div>
    <div class="members d-none" data-members-target="members" >
      <% @event.members.each do |member| %>
        <%if member.user.photo.attached? %>
          <%= cl_image_tag member.user.photo.key, class:"avatar" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

   <%= link_to 'ROULETTE', roulette_event_path(@event),  class: "text-decoration-none button"  %>

<div class="show-title">
   <h1>
      <%= @event.title %>
   </h1>
</div>

<div class="return-arrow-show">
    <%= link_to events_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
</div>



<div class="main-wrapper" data-controller="category-card">
      <% if @categories %>
          <div class="category-wrapper" data-category-card-target= "info">
                <div class="category-form">
                   <%= render "categories/category_form", event: @event, category: @category %>
                </div>
                <div class="card-hidden" data-category-card-target= "icon">
                            <% @categories.each do |category| %>
                                <div class="category-list m-1">
                                <div class="category-item">
                                    <%= link_to (event_category_path(category, event_id: category.event.id))do %>
                                  <ul>
                                     <li>
                                        <% if category.name == "Drinks" %>
                                        <div class="d-flex drinks-category ">
                                          <span> <%= category.name %> </span>
                                              <ul>
                                                <li class= "item-drink">
                                                    <% category.items.each do |item| %>
                                                       <%=item.quantity %> <%= item.name %>  <span> , </span>
                                                    <% end %>
                                                  </li>
                                              </ul>
                                        </div>
                                        <% elsif category.name == "Starters" %>
                                         <div class="d-flex starters-category ">
                                          <span> <%= category.name %> </span>
                                               <ul>
                                                  <li class= "item-list">
                                                    <% category.items.each do |item| %>
                                                     <%=item.quantity %> <%= item.name %>  <span> , </span>
                                                    <% end %>
                                                  </li>
                                              </ul>
                                            </div>
                                        <% elsif category.name == "Main dishes" %>
                                         <div class="d-flex main-category ">
                                          <span> <%= category.name %> </span>
                                                <ul>
                                                  <li class= "item-list">
                                                    <% category.items.each do |item| %>
                                                        <%=item.quantity %> <%= item.name %>  <span> , </span>
                                                    <% end %>
                                                  </li>
                                              </ul>
                                            </div>
                                        <% elsif category.name == "Deserts" %>
                                         <div class="d-flex deserts-category ">
                                          <span> <%= category.name %> </span>
                                                <ul>
                                                  <li class= "item-list">
                                                    <% category.items.each do |item| %>
                                                        <%=item.quantity %> <%= item.name %>  <span> , </span>
                                                    <% end %>
                                                  </li>
                                              </ul>
                                            </div>
                                        <% elsif category.name == "Snacks" %>
                                         <div class="d-flex snacks-category ">
                                          <span> <%= category.name %> </span>
                                              <ul>
                                                   <li class= "item-list">
                                                    <% category.items.each do |item| %>
                                                       <%=item.quantity %> <%= item.name %>  <span> , </span>
                                                    <% end %>
                                                  </li>
                                              </ul>
                                            </div>
                                        <% end %>
                                      </li>
                                    </ul>
                                </div>
                                    <% end %>
                                </div>
                            <% end %>
                </div>

                         <div class="icon-add-category">
                         <p> Add a category </p>
                            <i class="fas fa-plus" data-category-card-target= "icon" data-action="click->category-card#displayForm"></i>
                        </div>
         <% end %>
          </div>
        </div>
      </div>
    </div>
</div>

<% if @members.include? Member.find_by(user: current_user.id, event: @event) %>
  <div class="chatroom-button">
    <%= link_to event_chatroom_path(@event, @chatroom) do  %>
      <i class="fas fa-comment-alt"></i>
    <% end %>
  </div>
  <div class="leave-event-wrapper">
    <p>Leave event</p>
  </div>
  <%= link_to '', event_member_path(@event, Member.find_by(user: current_user.id)), method: :delete, class: "fas fa-times",data: { confirm: "Are you sure you want to leave this event?" }  %>
<% else %>
  <div class="join-event">
    <%= render "members/member_form", event: @event, member:@member %>
  </div>
<% end %>
