
<div class="card-trip col-6">

  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
    <div class="card-trip-infos">
        <div>
          <h2><%= @event.title %></h2>
          <i class="fas fa-lightbulb"></i>
          <p><%= @event.description %></p>
        </div>
      <h2 class="card-trip-date"><%= @event.date %></h2>
      <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
    </div>



<%= render "members/member_form", event: @event, member:@member %>

    <div class="main-wrapper" data-controller="category-card">
          <% if @categories %>
              <div class="category-wrapper" data-category-card-target= "info">
                    <%= render "categories/category_form", event: @event, category: @category %>
                    <div class="card-hidden" data-category-card-target= "icon">
                                <% @categories.each do |category| %>
                                    <div class="category-list">
                                        <%= link_to (event_category_path(category, event_id: category.event.id))do %>
                                            <%= category.name %>
                                              <% category.items.each do |item| %>
                                                  <%= item.name %> - <%=item.quantity %>
                                              <% end %>
                                        <% end %>
                                    </div>
                                <% end %>
                          <i class="fas fa-plus" data-category-card-target= "icon" data-action="click->category-card#displayForm"></i>
                     </div>
            <% end %>
          </div>
    </div>
</div>
