
<div class="container">
 <h1 class="mt-3">Allergies:</h1>
  <% @category.event.members.each do |member| %>
    <% unless member.user.allergy == nil %>
      <div class="border border-danger m-2 rounded">
        <%= member.user.username%> is allergic to <%= member.user.allergy %> <br>
      </div>
    <% end %>
  <% end  %>
</div>

<div class="suggestion-main-wrapper" data-controller="category-card">
    <div class="suggestion-wrapper">
      <h1> Suggestions for <%= @category.name %></h1>
      <ul>
        <% @category.suggestions.each do |suggestion| %>
          <li>
            <%= suggestion.name %>
            <%= suggestion.vote %> <%= link_to '', vote_event_category_suggestion_path(@event, @category, suggestion), method: :patch,data: {confirm: 'You have voted'},  class: "fas fa-thumbs-up text-decoration-none text-success"  %>
            <%= suggestion.downvote %> <%= link_to '', downvote_event_category_suggestion_path(@event, @category, suggestion), method: :patch,data: {confirm: 'You have voted'},  class: "fas fa-thumbs-down text-decoration-none text-danger"  %>
          </li>

        <% end %>
      </ul>
    </div>
    <button class="btn btn-flat" data-category-card-target= "icon" data-action="click->category-card#displayForm">Add a suggestion</button>

    <%= render "suggestions/suggestion_form", event: @event, category: @category, suggestion: @suggestion %>
</div>
<%= render "items/item_form", event: @event, category: @category, item: @item %>


<div class="return-arrow-category">
    <%= link_to event_path(@event) do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
</div>
