
<div class="suggestion-main-wrapper" data-controller="category-card">
    <div class="suggestion-wrapper">
      <h1> Suggestions for <%= @category.name %></h1>
      <ul>
        <% @category.suggestions.each do |suggestion| %>
          <li>
            <%= suggestion.name %>
          </li>
        <% end %>
      </ul>
    </div>
    <button class="btn btn-flat" data-category-card-target= "icon" data-action="click->category-card#displayForm">Add a suggestion</button>

    <%= render "suggestions/suggestion_form", event: @event, category: @category, suggestion: @suggestion %>
</div>


    <%= render "items/item_form", event: @event, category: @category, item: @item %>


<div class="return-arrow-category">
    <%= link_to events_path do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
</div>
